html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  
}

body {
    margin: 0;
}

/*reset*/
a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235 242 249);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}


.menu {
	width: 100%;	
	padding: 5px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    background: #6d698d;
    justify-content: end;
    
}

.menu a {
	color: rgb(252, 248, 248);
    margin-right: 20px;
    
}


.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
    margin-right: 60px;
   
}

.menu-nav a {
	font-size: 1.10em;
	display: block;
	padding: 10px;
}

.menu-nav a:hover{
	color: #dad4eb;
	
}

.titulo-principal{    
    height: 130px;
    background-size: cover; 
    background-position: left;
    font-size: 22px;
    text-align: center;  
    background-repeat: no-repeat;  
    padding: 20px;
    background-image: url(img/sistema.png) ;
    margin-bottom: 40px;
 
}

.container-01{   
    margin: 0 auto;
    text-align: center;
    width: 60%;
    background: rgb(247, 247, 247);
    border-radius: 8px;
    padding: 20px;   
    margin-bottom: 40px;
    box-shadow: 6px 8px 10px 5px rgba(230, 230, 230, 0.856);
    
}

.bottom{
    margin-top: 20px;
    margin-bottom: 20px;
}

table{
    width: 86%;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
    border-color: azure;

}

td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid rgb(230, 229, 229);
    text-align: center;
    
  }
  
  th{
     background-color: rgb(248, 247, 247);
     
    
  }
  td{
    font-weight:300;
    background-color: rgb(255, 255, 255);
  }
  

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40px;
    color: rgba(245, 245, 245, 0.973);
   
    font-weight:500;
}

.container-02{   
    margin: 0 auto;
    text-align: center;
    width: 60%;
    background: rgb(247, 247, 247);
    border-radius: 8px;
    padding: 20px;   
    margin-bottom: 20px;
    box-shadow: 6px 8px 10px 5px rgba(230, 230, 230, 0.856);
  
}

h2{    
    padding: 20px;
    font-size: 20px;
    text-align: justify;    
    margin-left: 10px;
    color: rgba(92, 92, 92, 0.932);
      
}

button{
  background: #2a8f48;
  margin: 10px;
  color: #ffffff;
  font-size: 16px;
  height: 30px;
  width: 20%;
  border: none;
  border-radius: 4px;
  
  
}

button:hover{
    background-color: #318d31;
    cursor: pointer;
}

#alterar{
    background-color: #8a8c94;

}

#alterar:hover{
    background-color: #979797;

}
input{
    width: 30%;
    height: 26px;
    border: solid 1px rgb(199, 138, 69);
    border-radius: 5px;
    margin: 3px;
    display: inline-block; 
    
}

#modificar{
    background-color: #f0341b;

}

.corRed{
    background-color: #d81313;
}

.corRed:hover{
    background-color: #cf1313;
}

input:hover,
input:focus {
  
  text-decoration: none;
  
}

.tabela{
    text-align: center;
}


hr{
    width: 30%;
    margin-left: 0px;
    
    border-top: 1px solid rgb(150, 150, 150);

}

@media only screen and (min-width:350px) and (max-width: 720px) {
    section {
        width: 320px;
    }
    input{
        width: 100px;
        margin-left: 10px;

    }
    h2{
        text-align: center;

    }
    button{
        width: 100px;
    }
    hr{
        width: 100%;
        
    }
}
::-webkit-input-placeholder  { color:rgb(155, 155, 155); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  padding: 7px; font-size: 16px;}
input:-moz-placeholder { color:rgb(199, 199, 199); }